@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Josefin+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

.carGame {
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    overflow: hidden;
}

.hide {
    display: none;
}

.car,
.enemy {
    width: 50px;
    height: 90px;
    background-color: red;
    position: absolute;
    /* left: 50px; */
    bottom: 120px;

    background-image: url(car.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.gameArea {
    margin: auto;
    width: 400px;
    height: 100vh;
    background: #2c3e50;
    /* background: #2d3436; */
    position: relative;
    overflow: hidden;
    border-left: 7px dashed #c8d6e5;
    border-right: 7px dashed #c8d6e5;
}

.lines {
    height: 100px;
    width: 8px;
    background: white;
    position: absolute;
    /* widhth of road 400 and widht of line is 8 px so 200 - 4 */
    margin-left: 196px;
}

.score {
    position: absolute;
    top: 15px;
    left: 40px;
    background: #10ac84;
    width: 300px;
    /* height: 70px; */
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 5px 5px #777;
}

.startScreen {
    position: absolute;
    background: #ee5253;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
}

.name {
    position: absolute;
    background: #ee5253;
    right: 50px;
    top: 100px;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    margin: auto;
    width: 150px;
    letter-spacing: 5;
    font-size: 30px;
    font-weight: bolder;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
    /* text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white,
        -1px 1px 0 white; */
}

.made-with-love {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 400px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.heart {
    color: red;
    font-size: 1.2rem;
    vertical-align: baseline;
}
